/* @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,300;1,400&family=Open+Sans:wght@300;400;700&display=swap');


:root {
    --font: hsl(0, 0%, 100%);
    --theme: hsl(253, 18%, 20%);
    --theme-hover: hsl(254, 18%, 29%);
    --box-background: rgba(0,0,0, 0.2);
    --light-blue: hsl(202, 90%, 80%);
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    height: 100%;
    min-width: 291px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
}

section {
    padding: 0;
}

h1 {
    font-weight: 400;
    font-size: calc(3vw + .3rem);
    text-shadow: 3px 1px 4px rgba(66, 68, 90, 1);
}

h2 {
    font-weight: 400;
    font-size: calc(2vw + .3rem);
}

.main {
    height: 100%;
    overflow: hidden;
}



.background {
    position: fixed;
    background-image: url("src/background.webp");
    filter: blur(8px);
    -webkit-filter: blur(7px);
    background-repeat: no-repeat;
    background-size: cover;
    
    height: 100%;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--theme);
    color: var(--font);
    position: fixed;
    width: 100%;
    top:0;
    z-index: 1;
}

.nav-name {
    font-size: 1.5rem;
    margin: .6rem;
    padding-left: 2rem;
    font-weight: 400;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
    overflow: hidden;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li:hover {
    transform: scale(1.1);
    transition: 0.5s;
}


.navbar-links a {
    text-decoration: none;
    color: var(--font);
    padding: 1rem;
    display: block;
    font-weight: 300;
}

.navbar-links li:hover {
    background-color: var(--theme-hover);
}

.toggler-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}

.toggler-button .bar {
    height: 3px;
    width: 100%;
    background-color: var(--font);
    border-radius: 10px;
}


.container {
    height: auto;
    position: relative;
    overflow: hidden;
    width: 80%;
    margin: 3rem auto;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    box-shadow: 0 6px 20px rgba(96, 88, 139, 0.57);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    color: var(--font);
    background: linear-gradient(to right, hsla(253, 18%, 20%, 0.308), hsla(253.3, 17.6%, 20%, 0.7));
    background-color: var(--box-background);
}

#head {
    margin: 5rem auto 3rem;
}

.header-text {
    border-radius: 10px;
    padding: 5rem;
    margin: auto;
}

.header-text h1 {
    padding: 2rem 0 0 0;
}

.header-img {
    position: relative;
    border-radius: 10px;
    height: auto;
}

.header-img img {
    border-radius: 7.5rem 7.5rem 1.5rem 1.5rem;
    max-width: 80%;
    width: 50%;
    height: auto;
    box-shadow: 0px 0px 24px 0px rgb(85, 87, 104);
    margin: 2rem;
}

.header-img p {
    font-weight: 300;
    font-size: calc(.8vw + .3rem);
    margin: auto;
    height: auto;
    width: 90%;
    justify-content: center;
    padding: 3rem 0 0 0;
}

.social-icons {
    margin: auto;
    align-self: center;
    display: flex;
    max-width: 30%;
    justify-content: center;
    padding: 2rem;
    font-size: 2rem;
    color: var(--font);
}

.social-icons a {
    text-decoration: none;
    color: var(--light-blue);
    
}

.icon {
    padding: 2rem;
    font-size: calc(3vw + .5rem) !important;
}

.description {
    text-align: center;
    margin: auto;
}

.description h1 { 
    padding: 0;
    margin: 0;
}

.description h2 {
    padding: 3rem 0 0 0;
    margin: 0;
    text-shadow: 1px 0px 4px rgb(102, 105, 138);
}

.circle-big {
    display: block;
    background-color: hsla(254, 18%, 29%, 0.479);
    border-radius: 50%;
    width: 800px;
    height: 800px;
    position: absolute;
    z-index: -1;
    left: 50rem;
    bottom: 30rem;
}

.circle-medium {
    display: block;
    background-color: hsla(254, 49%, 25%, 0.479);
    border-radius: 50%;
    width: 400px;
    height: 400px;
    position: absolute;
    z-index: -1;
    left: 40rem;
    top: 40rem;
}

.circle-small {
    display: block;
    background-color: hsla(254, 18%, 29%, 0.479);
    border-radius: 50%;
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: -1;
    left: 75rem;
    top: 10rem;
}

.projects {
    width: 100%;
    height: auto;
    padding: 1rem;
}

.projects-grid {
    height: auto;
    max-width: 90%;
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 5rem;
}

.grid-img {
    justify-content: center;
    margin: auto;
    border-radius: 1.5rem;
}

.image {
    max-width: 100%;
    height: auto;
    box-shadow: 0px 0px 24px 0px rgb(85, 87, 104);
    border-radius: 1.5rem;
    transform: scale(1);
    transition: transform 300ms ease;
    margin: auto;
}

.image:hover {
    transform: scale(1.1);
}

.grid-text {
    margin: auto;
}

.grid-text h2 {
    font-size: calc(1.1vw + .5rem);
    font-weight: 300;
}

.grid-text p {
    font-size: calc(.8vw + .5rem);
    font-weight: 300;
    padding: .35rem;
}

.link {
    font-size: calc(.7vw + .5rem);
    color: var(--light-blue);
    text-decoration: none;
    position: relative;
}

.link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: var(--light-blue);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
}

.link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.skills-items {
    width: 50%;
    margin: auto;
    
}

.skills-item {
    display: flex;
    text-align: center;
    width: 100%;
    justify-content: space-between;
}

.skills-item p {
    font-size: calc(1.1vw + .5rem);
    font-weight: 300;
    width: 5rem;
}

.circles {
    display: flex;
    margin: auto;
    float: right;
}

.skills-circle-point {
    height: calc(1vw + .8rem);
    width: calc(1vw + .8rem);
    border-radius: 50%;
    background-color: var(--light-blue);
    margin-left: 1rem;
}

.skills-circle-pointless {
    height: calc(1vw + .8rem);
    width: calc(1vw + .8rem);
    border-radius: 50%;
    background-color: var(--theme);
    margin-left: 1rem;
}

.form input button textarea {
    display: flex;
    flex-direction: column;
}

.form input {
    width: 70%;
    max-width: 70%;
    margin: .5rem;
    padding: 1rem;
    font-size: calc(.5vw + .7rem);
}

.form textarea  {
    max-width: 70%;
    max-height: 10rem;
    width: 70%;
    height: 7rem;
    font-family: 'Open Sans', sans-serif;
    font-size: calc(.5vw + .7rem);
    padding: 1rem;
    margin: .5rem;
}

.form button {
    font-family: 'Open Sans', sans-serif;
    font-size: calc(.5vw + .7rem);
    padding: .5rem 2rem;
    background-color: var(--theme);
    color: var(--font);
    border: none;
    border-radius: 1rem;
    margin: 1rem;
    transform: scale(1);
    transition: transform 300ms ease-in;
}

.form button:hover {
    background-color: var(--theme-hover);
    cursor: pointer;
    transform: scale(1.2);
}

.form p {
    font-size: calc(.8vw + .5rem);
}


/*---------------------------- responsive section -----------------------*/

@media (min-width: 972px) {
    .skills {
        display: flex;
    }

    .skills-items {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}

@media (min-width:900px) {
    .header-img {
        display: flex;
        flex-direction: row;
        width: 100%;
        position: relative;
        height: 650px;
    }

    .header-img img {
        height: auto;
        max-height: 90%;
        margin: auto;
    }

    .header-img p {
        padding: 3rem 0 0 0;
    }
}

@media (min-width: 600px) and (max-width:971) {

    .skills-items {
        padding-left: 0;
    }
}

@media (max-width: 900px) {

    .icon {
        padding: 2rem;
        font-size: calc(6vw + .5rem) !important;
    }
    

    .container {
        margin: 3.5rem auto;
        width: 90%;
    }
    
    .toggler-button {
        display: flex;
    }

    .navbar-links {
        overflow: hidden;
        height: 0;
        width: 100%;
        transition: 1s;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
        /* overflow: none; */
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: 1.5rem 1rem;
    }

    .navbar-links.active {
        height: 13.2rem;
        display: flex;
        transition: 1s;
    }

    .header-img img {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    .header-text {
        padding: 1rem 0 0 0;
    }

    .header-text h1 {
        padding: 0;
    }
    
    h1 {
        font-size: 1.7rem;
        font-weight: 700;
        text-shadow: 1px 0px 4px rgb(102, 105, 138);

    }

    h2 {
        text-shadow: 1px 0px 2px rgb(102, 105, 138);
    }

    .header-img p {
        font-size: 1.1rem;
        width: 90%;
        padding: 0.5rem;
        text-align:center;
    }
    
    .description h2{
        padding: 1rem 0 0 0;
    }

    .projects-grid {
        display: block;
    }

    .grid-text {
        padding-bottom: 1rem;
    }

    .skills-items {
        width: 100%;
        margin: auto;
        padding-left: 0;
    }
}

@media (max-width: 300px) {
    .container {
        width: 100%;
    }
    
    h1 {
        font-size: 1rem;
        font-weight: 700;
    }

    p {
        font-size: 0.5rem;
    }

    .header-text h1 {
        padding: 1.4rem 0 0 0;
    }

    .header-img p {
        font-size: 0.7rem;
        width: 100%;
    }

    .header-img img {
        width: 95%;
    }
}